.main-button {
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  min-height: 34px;

  border: 2px solid #444444;

  text-decoration: none;
  color: #000000;

  text-align: center;

  padding-top: 15px;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }
  &:active {
    color: #8d8d8d;
    background-color: #444444;
  }
}
