.about-us {
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__title {
  display: block;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;

  margin-top: 36px;
  margin-bottom: 95px;
}

.about-us__feature {
  display: block;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  margin-top: 0px;
  margin-bottom: 90px;

  &:last-child {
    margin-bottom: 60px;
  }
}
