.catalog-item__wrapper {
  border: 1px solid #ededed;
  padding: 27px 27px 27px 27px;

  margin-top: -5px;
  margin-bottom: 30px;
}

.catalog-item__title {
  display: block;
  text-decoration: none;
  color: #000000;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  margin: 0px;
  padding-bottom: 7px;

  cursor: pointer;
}

.catalog-item__parameters {
  font-size: 13px;
  line-height: 30px;
  color: #444444;

  margin: 0px;
  padding-bottom: 18px;

  border-bottom: 1px solid #ececec;
}

.catalog-item__price {
   position: relative;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;

  margin: 0px;
  padding-top: 21px;
}

.catalog-item__cart-icon {
	position: absolute;
  right: 5px;
}
