.contacts__title {
  padding-left: 30px;
  padding-right: 30px;

  margin: 0;
}

.contacts__information {
  padding-left: 30px;
  padding-right: 30px;

  font-size: 15px;
  line-height: 30px;

  border-spacing: 0px 30px;
}

.contacts__left-column {
  width: 78px;
  vertical-align: top;
}

.contacts__right-column {
  width: 182px;
  vertical-align: top;

}

.contacts__right-column--border {
  border-bottom: 1px solid #62d1ba;
}

.contacts-map {
  margin-bottom: 40px;
}

.main-button {
  margin-left: 30px;
  margin-bottom: 40px;
}
