.intro {
  background-image: url(../img/hero-mobile@1x.jpg);
}

.intro__slogan {
  font-size: 27px;
  line-height: 30px;

  padding-top: 70px;
  padding-bottom: 120px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.intro__item {
  display: block;

  width: 290px;
  height: 73px;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;

  color: #ffffff;
  background-color: #63d1bb;

  text-decoration: none;
  padding-top: 30px;
  padding-left: 30px;

  &:last-child {
    background-color: #56c3b2;
  }
}
