.order-form {
  padding: 25px 30px 30px 30px;
}

.order-form__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  margin: 0;
  padding-bottom: 25px;
}

.order-options__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;

  margin: 0;
  padding-bottom: 20px;
  padding-right: 25px;
}


.order-options__wrapper-one {
  display: flex;
}

.order-options__decor-line {
  border-top: 1px solid #63d1bb;
  width: 100%;
  margin-top: 7px;
}


.order-options__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  padding-bottom: 10px;
}

.order-options__text {
  font-size: 17px;
  line-height: 18px;
  color: #444444;

  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  border-bottom: 2px solid #000000;
}

.order-options__field {
  padding-bottom: 15px;
}

.order-options__textarea{
  display: block;
  width: 256px;
  height: 138px;

  border: 2px solid #000000;
}

.main-form__notation {
  font-size: 14px;
  line-height: 16px;
  color: #444444;

  margin: 0;
  padding-bottom: 25px;
}

.main-button--form {
  width: 260px;
  background-color: white;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .order-options__decor-line {
    display: none;
  }

  .order-form {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 85px;
  }

  .order-options {
    display: flex;
  }

  .order-options__title {
    width: 167px;
    padding: 0;
  }

  .order-options__wrapper-one {

  }

  .order-options__wrapper-two {
    display: flex;
    flex-wrap: wrap;
  }
  .order-options__information-first {
    display: flex;
    flex-direction: column;
  }
  .order-options__information-first .order-options__field {
    display: flex;
    flex-direction: row;
  }
  .order-options__information-first .order-options__text {
    padding-top: 0px;
  }
}

@media (min-width: 1150x) {

}
