.reviews {
  font-size: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;

  margin: 0;
  padding-bottom: 35px;
}

.reviews__description {
  font-size: 15px;
  line-height: 30px;

  margin: 0;
  padding-bottom: 30px;

  color: #444444;
}

.reviews__user-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  margin: 0;
}

.reviews__user-tag {
  font-size: 17px;
  line-height: 30px;

  color: #444444;

  margin: 0;
  padding-bottom: 35px;
}

.reviews__previous {
  display: inline-block;

  width: 130px;
  height: 52px;
  border: none;

  outline: 1px solid #ececec;

  background-color: #ffffff;

  cursor: pointer;
}

.reviews__next {
  display: inline-block;
  vertical-align: top;

  width: 130px;
  height: 52px;

  border: none;

  outline: 1px solid #ececec;

  background-color: #ffffff;

  cursor: pointer;
}

.reviews a {
  margin-top: 38px;
  margin-bottom: 48px;
}
